<div class="full-page" id="loading">
  <div class="spinner">
    Loading portfolio...<br>
    <div class="rect1"></div>
    <div class="rect2"></div>
    <div class="rect3"></div>
    <div class="rect4"></div>
    <div class="rect5"></div>
  </div>
</div>
<div class="hidden" id="hidden">
  <div class="navbar">
    <div class="container">
      <span><%= image_tag("coding.svg") %></span><span class="text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#home">HOME</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#about-me">ABOUT ME</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#summary">SUMMARY</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#projects">PROJECTS</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#contact-me">CONTACT</a></span>
    </div>
  </div>

  <div class="front-page" id="home">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-right">
          <div class="front-page-content1">
            <span class="title">Hi, <span class="im">I'm</span> <span class="underline">Shouhei</span></span><br>
          </div>
          <div class="front-page-content2">
            <span class="summary quotes">A full stack web-developer</span><span class="summary quotes">A software developer</span><br><br>
          </div>
          <div class="front-page-content3">
            <a href="#contact-me">
              <div class="orange-button">
                CONTACT ME
              </div>
            </a>
            <a href="#about-me">
              <div class="white-button">
                READ MORE
              </div>
            </a>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        </div>
      </div>
    </div>
  </div>
  <div class="about-me-strip" id="about-me">
    <div class="container reveal">
      <div class="title text-center">
        Welcome to my portfolio!
      </div>
      <div class="sub-title text-center">
        Here's a little something about myself.
      </div>
    </div>
  </div>
  <div class="gap"></div>
  <div class="about-me">
    <div class="container reveal">
      <div class="row">
        <div class="col-xs-1 col-sm-3 col-md-3 col-lg-3">
        </div>
        <div class="col-xs-10 col-sm-6 col-md-6 col-lg-6">
          After working for 4 years in Moore Stephens NSW (formerly Byrons) as a qualified Chartered Accountant, I found my passion in web/software development and decided to pursue a career in that field.<br><br>

          I am currently undertaking the Fast Track course offered by Coder Factory Academy which is the only accredited coding bootcamp in Australia. I love creating and developing new ideas using technology and have been working on several class and personal projects.<br><br>

          While I really enjoy working by myself, nothing gives me more pleasure than working as a part of a team which I believe is when my skills are utilised to their maximum and get to connect with other people. One of my biggest achievements recently was to win the Sydney regional hackathon organised by Facebook alongside 3 of my other team members.<br><br>

          Outside my life as a developer, I love to spend my time with my wife, family, friends and as a dancer (Breaking).<br><br>

          I am currently seeking internship opportunities where I am able to progress my skills and add value to a team as a developer. Please feel free to contact me using the <a href="#contact-me">contact form</a>.
        </div>
        <div class="col-xs-1 col-sm-3 col-md-3 col-lg-3">
        </div>
      </div>
    </div>
  </div>
  <div class="gap"></div>
  <div class="education-experience-skills" id="summary">
    <div class="container">
      <div class="row is-flex">
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 text-center">
          <div class="box">
            <h4><i class="fa fa-graduation-cap" aria-hidden="true"></i>&nbsp;Education</h4>
            <div class="line"></div>
            2007 - 2010
            <br><strong>University of New South Wales</strong>
            <br>Bachelor of Commerce (Accounting Major)
            <br>
            <br>2013 - 2015
            <br><strong>Chartered Accountants Australia and New Zealand</strong>
            <br>Graduate Diploma of Chartered Accounting
            <br>
            <br>2017
            <br><strong>Coder Factory / Academy of Information Technology</strong>
            <br>Diploma of Software Development
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 text-center">
          <div class="box">
            <h4><i class="fa fa-list" aria-hidden="true"></i>&nbsp;Experience</h4>
            <div class="line"></div>
            2011 - 2012
            <br><strong>TaLK Program (South Korean Government)</strong>
            <br><span class="">English Language Instructor</span>
            <br>
            <br> 2012 - 2017
            <br><strong>Moore Stephens NSW (formerly Byrons)</strong>
            <br><span class="">Chartered Accoutant</span>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 text-center">
          <div class="box">
            <h4><i class="fa fa-wrench" aria-hidden="true"></i>&nbsp;Skills</h4>
            <div class="line"></div>
            <h1>
              <div class="skill-icons">
                <i class="devicon-html5-plain-wordmark"></i>
                <i class="devicon-css3-plain-wordmark"></i>
                <i class="devicon-bootstrap-plain-wordmark"></i><br>
                <i class="devicon-sass-original"></i>
                <i class="devicon-ruby-plain-wordmark"></i>
                <i class="devicon-rails-plain-wordmark"></i><br>
                <i class="devicon-javascript-plain"></i>
              </div>
            </h1>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 text-center collapse-group">
          <div class="box">
            <h4><i class="fa fa-star" aria-hidden="true"></i>&nbsp;Achievements</h4>
            <div class="line"></div>
            <strong>Winner - Facebook Sydney Regional Hackathon 2017</strong>
            <br><span class=""></span>
            <p class="collapse" id="viewdetails-fb">Won the hackathon as a member of team "H3rmes". We showcased the prototype for our application, "H3rmes", which we developed over the 24 hour event. H3rmes integrates with Facebook's messenger to auto-populate a chat bot allowing customers of a business using our app to access and purchase products and services all through the messenger.</p>
            <p><a class="btn" data-toggle="collapse" data-target="#viewdetails-fb">View details &raquo;</a></p>
            <strong>Hard Working Team Award - Give Backathon 2017</strong>
            <br><span class=""></span>
            <p class="collapse" id="viewdetails-gb">Won the major prize as a part of team "Code for Good". We worked with The Streets Movement, a charity based in Cairns focusing on the youth. We created an app which visualises various types of data on selected areas on the map.</p>
            <p><a class="btn" data-toggle="collapse" data-target="#viewdetails-gb">View details &raquo;</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="portfolio-strip text-center" id="projects">
    <div class="container reveal">
      Projects
      <div class="line"></div>
    </div>
  </div>
  <div class="portfolio text-center">
    <div class="container">
      <div class="row">
        <div class="hiddex-xs col-sm-1 col-md-2 col-lg-2"></div>
        <div class="col-xs-12 col-sm-10 col-md-8 col-lg-8">
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 grid" id="portfolio-1">
            <div class="portfolio-contents" onclick="window.open('https://github.com/shouheiyamauchi/sy-portfolio');" style="cursor:pointer;">
              <span>
                <span class="title">Portfolio Website</span><br>
                <div class="line"></div>
                <span class="summary">My personal portfolio website</span>
              </span>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 grid" id="portfolio-2">
            <div class="portfolio-contents" onclick="window.open('https://github.com/shouheiyamauchi/CFA-SYD-Explorer');" style="cursor:pointer;">
              <span>
                <span class="title">SYD Explorer</span><br>
                <div class="line"></div>
                <span class="summary">An online gaming platform which encourages children to participate in outdoor activities</span>
              </span>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 grid" id="portfolio-3">
            <div class="portfolio-contents" onclick="window.open('https://github.com/shouheiyamauchi/h3rmes');" style="cursor:pointer;">
              <span>
                <span class="title">H3rmes</span><br>
                <div class="line"></div>
                <span class="summary">A Facebook chatbot generator developed during the Facebook Hackathon which won us first place</span>
              </span>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 grid" id="portfolio-4">
            <div class="portfolio-contents" onclick="window.open('https://www.greenyoga.com.au');" style="cursor:pointer;">
              <span>
                <span class="title">Green Yoga</span><br>
                <div class="line"></div>
                <span class="summary">A portfolio website for Green Park's yoga business</span>
              </span>
            </div>
          </div>
        </div>
        <div class="hidden-xs col-sm-1 col-md-2 col-lg-2"></div>
      </div>
    </div>
  </div>
  <div class="contact-me" id="contact-me">
    <div class="container reveal">
      <div class="row">
        <div class="hiddex-xs col-sm-2 col-md-3 col-lg-3"></div>
        <div class="col-xs-12 col-sm-8 col-md-6 col-lg-6 text-center">
          <span class="title">Contact me</span><br><br>
          <% if flash[:notice] %>
              <div class="alert alert-success"><%= flash[:notice] %></div>
            <% elsif flash[:warning] %>
              <div class="alert alert-danger"><%= flash[:warning] %></div>
            <% else %>
          <% end %>
          <%= form_for :contact do |f| %>
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <input class="form-control" type="text" id="fname" name="contact[name]" placeholder="Name:">
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <input class="form-control" type="text" id="lname" name="contact[email]" placeholder="Email:">
              </div>
            </div>
            <br>
            <span><textarea class="form-control" id="subject" name="contact[message]" placeholder="Message:" style="height:100px"></textarea></span>
            <br>
            <input class="btn" type="submit" value="Submit">
          <% end %>
          <br><br><br>
          <div class="line"></div><br>
          <a href="https://www.linkedin.com/in/shouhei-yamauchi/" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>&nbsp;
          <a href="https://github.com/shouheiyamauchi" target="_blank"><i class="fa fa-github-square" aria-hidden="true"></i></a>
          <br><br>
          <span class="copyright">&copy; 2017 Shouhei Yamauchi</span>
        </div>
        <div class="hiddex-xs col-sm-2 col-md-3 col-lg-3"></div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  (function() {

    var quotes = $(".quotes");
    var quoteIndex = -1;

    function showNextQuote() {
        ++quoteIndex;
        quotes.eq(quoteIndex % quotes.length)
            .fadeIn(1500)
            .delay(1500)
            .fadeOut(1500, showNextQuote);
    }

    showNextQuote();

  })();
</script>
<script type="text/javascript">
  var frontPage = {
    duration: 1500,
  }
  var frontPageContent1 = {
    duration: 1500,
    delay: 500,
  }
  var im = {
    duration: 1500,
    delay: 1000,
  }
  var underline = {
    duration: 1500,
    delay: 1300,
  }
  var frontPageContent2 = {
    duration: 1500,
    delay: 2000,
  }
  var frontPageContent3 = {
    scale: 0.9,
    duration: 1500,
    delay: 3000,
  }
  var reveal = {
    duration: 800,
    reset: true,
  }
  var box = {
    duration: 800,
    reset: true,
  }
  var grid = {
    duration: 800,
    reset: true,
  }
  sr.reveal('.front-page', frontPage);
  sr.reveal('.front-page-content1', frontPageContent1);
  sr.reveal('.im', im);
  sr.reveal('.underline', underline);
  sr.reveal('.front-page-content2', frontPageContent2);
  sr.reveal('.front-page-content3', frontPageContent3);
  sr.reveal('.reveal', reveal);
  sr.reveal('.box', box, 150);
  sr.reveal('.grid', grid, 150);
</script>
<!-- Page preloader -->
<script type="text/javascript">
  $(window).load(function() {
    $("#loading").addClass("hidden");
    $("#hidden").removeClass("hidden");
    window.scrollBy(0, 1);
  })
</script>
<!-- Smooth scrolling -->
<script type="text/javascript">
  $('a[href*="#"]:not([href="#"])').click(function() {
    if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
      if (target.length) {
        $('html, body').animate({
          scrollTop: target.offset().top
        }, 800);
        return false;
      }
    }
  });
</script>
<!-- Javascript to add class on scroll for navbar -->
<script type="text/javascript">
  $(window).scroll(function() {
    var scroll = $(window).scrollTop();

     //>=, not <=
    if (scroll >= 100) {
        //clearHeader, not clearheader - caps H
        $(".navbar").addClass("nav-bg");
    }
  }); //missing );
</script>
